
<!-- <po-widget>

  <div class="po-mb-1">
    <po-toolbar p-title="Pedidos de Vendas"
    p-actions-icon="po-icon po-icon-menu"
    [p-actions]="actions">
    </po-toolbar>
    
    <div class="po-row">
      <po-button class="po-mr-2" p-icon= 'po-icon po-icon-plus' p-label="Incluir"  p-kind= "primary"> </po-button>
      <po-button p-label="Alterar" p-icon='po-icon po-icon-edit' class="po-mr-2"> </po-button>
      <po-button class="po-mr-2" p-label="Visualizar" > </po-button>
      <po-dropdown class="button-small" p-label="Outras ações" [p-actions]="actions_dropdown">
      </po-dropdown>
    </div>

  </div>
</po-widget> -->
<app-tabela-pedidos></app-tabela-pedidos>